:host {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
  width: 100%;
}

.container {
  width: 100%;
  flex: 1;
  display: flex;
  height: calc(100vh - 114px);
}

.controls {
  padding: 10px;
  height: 50px;
  background: white;

  & input {
    display: none;
  }

  & label {
    min-width: 64px;
    color:white;
    background: var(--primary-color);
    font-size: 0.875rem;
    padding: 0 16px;
    margin-right: 1rem;
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  }
}
